<div class="form-group">
  <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [formControl]="formControl" ngbDatepicker #d="ngbDatepicker">
    <div class="input-group-addon" (click)="d.toggle()" >
      <button type="button" class="btn btn-link">wybierz</button>
    </div>
  </div>
</div>
