<div>
  <h3 class="d-inline">
    Twoje kontakty
  </h3>

  <button type="button" class="btn btn-primary ml-2" (click)="load()">Pobierz kontakty</button>
  <button type="button" class="btn btn-danger ml-2" (click)="clear()">Wyczyść kontakty</button>

  <span class="alert alert-info ml-2" *ngIf="loading | async">
    Trwa pobieranie kontaktów
  </span>

  <span class="alert alert-danger ml-2" *ngIf="loadingFailed | async">
    Nie udało pobrać się kontaktów
  </span>
</div>

<form class="form-inline mt-2" #form="ngForm" (ngSubmit)="add(form.value);form.reset()">
  <input class="form-control mr-1" type="text" name="id" placeholder="ID" ngModel required autocomplete="off">
  <input class="form-control mr-1" type="text" name="name" placeholder="Nazwa" ngModel required autocomplete="off">
  <input class="form-control mr-1" type="text" name="phone" placeholder="Telefon" ngModel required autocomplete="off">
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Dodaj</button>
</form>

<table class="table mt-5">
  <thead>
  <th>ID</th>
  <th>Kontakt</th>
  <th>Telefon</th>
  <th></th>
  </thead>
  <tbody>
    <tr *ngIf="!(contacts | async).length">
      <td colspan="3" class="text-center">Brak kontaktów</td>
    </tr>
    <tr *ngFor="let contact of contacts | async">
      <td>{{contact.id}}</td>
      <td>{{contact.name}}</td>
      <td>{{contact.phone}}</td>
      <td><button type="button" class="btn btn-sm btn-danger" (click)="remove(contact)">Usuń</button></td>
    </tr>
  </tbody>
</table>
