<ul>
  <li><a routerLink="/contacts">Contacts</a></li>
  <li><a routerLink="/custom">Custom</a></li>
  <li *ngFor="let resourceConfig of resourceConfigs">
    <a [routerLink]="[resourceConfig.key]">{{resourceConfig.name}}</a>
  </li>
</ul>
