<div *ngIf="resourceConfig | async as resourceConfig">
  <div *ngIf="resource | async as resource">

    <h3>
      {{resourceConfig.formHeader ? resourceConfig.formHeader(resource) : resourceConfig.name + ' #' + resource.id}}
    </h3>

    <form [formGroup]="form" (ngSubmit)="save(resource)">
      <formly-form [form]="form" [fields]="resourceConfig.formFields" [model]="resource">
        <div class="text-right">
          <a class="btn btn-link mr-2" routerLink="..">Anuluj</a>
          <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
      </formly-form>
    </form>
  </div>
</div>
