:host {
  background-color: #fff;
  border-left: 1px solid grey;
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100vh;
  padding: 20px;
  overflow-y: scroll;
}

::ng-deep .ng-invalid {
  border-color: red;
}
