<app-phone-selector [formControl]="control"></app-phone-selector>

<p>
  Value: {{control.value | json}}
  <br>
  Valid: {{control.valid}}
  <br>
  Touched: {{control.touched}}
</p>

<button (click)="control.setValue('+1 donald')">Go America!</button>
